<div class="cart-items-pick-up-satus">
  {%- render 'icon-fav' -%} 
  <div class="cart-items-pick-up-satus__content">
    <p class="cart-items-pick-up-satus__content__heading">{{ 'shopify.minicart.pickup_title' | t }}</p>
    {{ 'shopify.minicart.pickup_text_html' | t }}
  </div>
</div>