<fieldset class="site-nav__link site-nav__link--icon no-border countries-dropdown pointer" aria-haspopup="true" href="#" role="button" tabIndex="0" onclick="toggle_countries();">
  <legend>{% render 'icon-flag-ph' %}</legend>
  <details class="countries-wrapper">
    <summary>
      <div class="countries-list">
        <span class="selected"><a href="#">{% render 'icon-flag-ph' %} Philippines</a></span>
        <span><a href="https://intl.penshoppe.com">{% render 'icon-globe-eu' %} Global</a></span>  
      </div>
    </summary>
  </details>
</fieldset>

<script>
function toggle_countries() {
  if (document.querySelector('.countries-wrapper').classList.contains('visible')) {
    document.querySelector('.countries-wrapper').classList.add('hide');
    document.querySelector('.countries-wrapper').classList.remove('visible');
  } else {
    document.querySelector('.countries-wrapper').classList.add('visible');
    document.querySelector('.countries-wrapper').classList.remove('hide');
  }
}
</script>