<style>

  @media only screen and (min-width: 200px) {
    .panel-view{
      display: block;
    }
}

@media only screen and (min-width: 992px) {
  .panel-view{
    display: flex;
  }
}
  
  /* css on filter input Text */
  .searchInputText{
    border-bottom: 3px solid lightgray;
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
  }

  
  .loader {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    text-align: center;
    position: relative;
    padding: 0 48px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  .loader:before,
  .loader:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: currentColor;
    position: absolute;
    animation: load 0.7s infinite alternate ease-in-out;
    top: 0;
  }
  .loader:after {
    top: auto;
    bottom: 0;
  }
  @keyframes load {
    0% {
      left: 0;
      height: 43px;
      width: 15px;
      transform: translateX(0);
    }
    50% {
      height: 10px;
      width: 40px;
    }
    100% {
      left: 100%;
      height: 43px;
      width: 15px;
      transform: translateX(-100%);
    }
  }

  .form-control {
    width: 100%;
    border: 1px solid;
    padding: 12px;
    margin: 2px 0;
  }
  /* Add Style in Scrollbar */
  .nearBy::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .nearBy::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  .nearBy::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  .nearBy::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>
    <input type="text" id="locationSearch" class="searchInputText" placeholder="Search by location name" />
    <div class="panel-view">
      <select class="searchInputText" style="margin-right: 16px;">
          <option value="">Select by Region / Province</option>
      </select>
      
      <select class="searchInputText" style="margin-right: 16px;">
          <option value="">Select by City / Municipality</option>
      </select>
    </div>

     <div style="display: flex; justify-content:space-between; border-bottom:3px solid lightgray;">
   <p style="margin: 19px 0;">Showing <span id="totalResult">0</span> result(s)</p>
   <div style="border: 1px solid black;border-radius: 14px; padding: 8px; margin: 11px 0;">Show all Stores</div>
         </div>
         
  <span id="MsgErrorFunction"></span>
  <div style="display:none;">
    <div class="radio__input">
      <input
        class="input-radio active-radio"
        type="radio"
        value="65625203dc4bf25a47865adc66f3892b"
        name="checkout[pick_up_in_store][handle]"
        id="checkout_delivery_option_id_65625203dc4bf25a47865adc66f3892b"
  
        data-checkout-total-shipping="Free"
        data-checkout-total-shipping-cents="0" />
    </div>
    <label class="radio__label" for="checkout_delivery_option_id_65625203dc4bf25a47865adc66f3892b">
      <div class="radio__label__primary">
        <div>1155 EDSA, Balintawak</div>
        <div class="small-text">1155 EDSA, Balintawak, Quezon City, 00</div>
        <div class="small-text pickup-instructions show-on-mobile">
          Usually ready in 24 hours
        </div>
      </div>
      <div class="radio__label__accessory">
        <div class="content-box__emphasis">Free</div>
        <div class="small-text pickup-instructions hide-on-mobile">
          Usually ready in 24 hours
        </div>
      </div>
    </label>
  </div>
<div class="nearBy" style="display: grid; overflow:scroll; max-height:300px; overflow-x:hidden; margin-top:21px; padding-right:15px;"></div>
<div class="StoreId_Data"></div>
<div class="attr_data"></div>

<script type="text/javascript" src="{{ 'custom-pickup.js' | asset_url }}" defer="defer"></script>
<script>

  function getStoreListData(Title, listaddress, City, Province, Zipcode, Longitude, Latitude) {
$('.active-radio').click();
    fetch('https://tools.gabcgfs.com/shoplocation.php').then(response => response.json()).then(data => {
      const jsonData = data;

// Get the value of the 'name' parameter from the URL
      const nameParam = Title;

// Filter the data based on the 'name' parameter
      const filteredData = jsonData.filter(item => {
        if (nameParam) {
          return item.name.toLowerCase().includes(nameParam.toLowerCase());
        } else {
          return true; // If 'name' parameter is not provided, return all items
        }
      });

// Log the filtered data
      $('.StoreId_Data').html("");
      if (filteredData[0].id != '') {
        resOutput = ` <input type="text" value="${
          filteredData[0].id
        }" name="checkout[attributes][pickup_store_id]"/>`
        $('.StoreId_Data').html(resOutput);

      }
    })
    resOutput = `
         <input type="text" value="${Title}" name="checkout[attributes][pickup_store_title]"/>
          <input type="text" value="${listaddress}" name="checkout[attributes][pickup_store_street]"/>
           <input type="text" value="${City}" name="checkout[attributes][pickup_store_city]"/>
            <input type="text" value="${Province}" name="checkout[attributes][pickup_store_province]"/>
             <input type="text" value="${Zipcode}" name="checkout[attributes][pickup_store_zip]"/>
             <input type="text" value="{{ checkout.id }}" name="checkout[attributes][Checkout_#]"/>
              <input type="text" value="${Longitude}" name="checkout[attributes][Longitude]"/>
               <input type="text" value="${Latitude}" name="checkout[attributes][Latitude]"/>
       `;
    $('.attr_data').html(resOutput)
    setShippingMethod = `Pick up in store · <strong>${Title}</strong><br><p class="small-text">${listaddress} ${Zipcode}</p>`;
    localStorage.setItem('ShippingMethod', setShippingMethod)
  }



  fetch("https://tools.gabcgfs.com/graphql/getStoreLocation.php")
    .then((response) => response.json())
    .then((data) => fetchData(data));

  function fetchData(json) {
    arr = [];
    arr_data = [];
    let getList = json.data.locations.edges;

    for (let i = 0; i < getList.length; i++) {
      pizza = getList[i].node.id.split("/");
      const id = pizza[4];
      const storeName = getList[i].node.name;

      arr.push({
        id: id,
        Title: storeName
      });
    }

    fetch(
        "https://omnistorelocations.goldenabc.com/storelocations/Shopify/Api/GetStoreLocations?brand=penshoppe"
      )
      .then((response) => response.json())
      .then((jsonData) => {
        data1 = arr;
        data2 = jsonData;
        // Parse the JSON strings into JavaScript objects
        const array1 = data1;
        const array2 = data2.message;

        // Create an empty result array
        const mergedArray = [];
        // Iterate through array1
        for (const obj1 of array1) {
          // Find a matching object in array2 based on the "name" property
          const obj2 = array2.find((item) => item.Title === obj1.Title);

          // If a match is found, merge the properties into a new object
          if (obj2) {
            const mergedObject = {
              ...obj1,
              ...obj2
            };
            mergedArray.push(mergedObject);
          }
        }

        for (let i = 0; i < mergedArray.length; i++) {
          const Title = mergedArray[i].Title;
          const City = mergedArray[i].City;
          const Province = mergedArray[i].Province;
          const Zipcode = mergedArray[i].Zipcode;
          const Latitude = mergedArray[i].Latitude;
          const Longitude = mergedArray[i].Longitude;
          const listaddress = `${mergedArray[i].Street.trim()} ${mergedArray[i].City.trim()} ${mergedArray[i].Country.trim()}`;
          html = `
          <div class="filterData" style="display: flex;">

             <div class="radio__input">
                <input
                  class="input-radio" onclick="getStoreListData('${Title.trim()}','${listaddress}','${City}','${Province}','${Zipcode}','${Longitude}','${Latitude}')"
                  type="radio"
                  value="${i}"
                  name="checkout[attributes][id]"
                  id="checkout_delivery_option_id_${i}"
                  data-checkout-total-shipping="Free"
                  data-checkout-total-shipping-cents="0"
                />
             </div>
   
             <label class="radio__label" for="checkout_delivery_option_id_${i}" style="display: flex;">
              <div class="radio__label__primary">
               <div class="locationName">${Title}</div>
                <div class="small-text">${listaddress}</div>
                   <div class="small-text pickup-instructions show-on-mobile">
                     Usually ready in 24 hours
                  </div>
                </div>

              <div class="radio__label__accessory">
                <div class="content-box__emphasis">Free</div>
                  <div class="small-text pickup-instructions hide-on-mobile">
                  Usually ready in 24 hours
                  </div>
              </div>
             </label>

          </div>
                `;

          arr_data.push(html);

        }

        if (arr_data.join("") == "") {
          document.querySelector(".nearBy").innerHTML = `<div style="display: flex; justify-content: center;"><h1 style="
            padding: 0 12px;
            background-color: red;
            color: white;
            font-weight: 400;
            width: 100%;
            text-align: -webkit-center;
            ">There is no store near you</h1></div>`;
        } else {
          document.querySelector(".nearBy").innerHTML = arr_data.join('');
          getTotalResult('firstOutputTotal');
        }
      });
  }
  
</script>
