<style>
  /* css on filter input Text */
  .searchInputText{
    border-bottom: 3px solid lightgray;
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
  }

  
  .loader {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    text-align: center;
    position: relative;
    padding: 0 48px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  .loader:before,
  .loader:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: currentColor;
    position: absolute;
    animation: load 0.7s infinite alternate ease-in-out;
    top: 0;
  }
  .loader:after {
    top: auto;
    bottom: 0;
  }
  @keyframes load {
    0% {
      left: 0;
      height: 43px;
      width: 15px;
      transform: translateX(0);
    }
    50% {
      height: 10px;
      width: 40px;
    }
    100% {
      left: 100%;
      height: 43px;
      width: 15px;
      transform: translateX(-100%);
    }
  }

  .form-control {
    width: 100%;
    border: 1px solid;
    padding: 12px;
    margin: 2px 0;
  }
  /* Add Style in Scrollbar */
  .nearBy::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .nearBy::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  .nearBy::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  .nearBy::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>
    <input type="text" id="locationSearch" class="searchInputText" placeholder="Search by location name" />
    
  <span id="MsgErrorFunction"></span>
  <div style="display:none;">
    <div class="radio__input">
      <input
        class="input-radio active-radio"
        type="radio"
        value="65625203dc4bf25a47865adc66f3892b"
        name="checkout[pick_up_in_store][handle]"
        id="checkout_delivery_option_id_65625203dc4bf25a47865adc66f3892b"
  
        data-checkout-total-shipping="Free"
        data-checkout-total-shipping-cents="0" />
    </div>
    <label class="radio__label" for="checkout_delivery_option_id_65625203dc4bf25a47865adc66f3892b">
      <div class="radio__label__primary">
        <div>1155 EDSA, Balintawak</div>
        <div class="small-text">1155 EDSA, Balintawak, Quezon City, 00</div>
        <div class="small-text pickup-instructions show-on-mobile">
          Usually ready in 24 hours
        </div>
      </div>
      <div class="radio__label__accessory">
        <div class="content-box__emphasis">Free</div>
        <div class="small-text pickup-instructions hide-on-mobile">
          Usually ready in 24 hours
        </div>
      </div>
    </label>
  </div>
<div class="nearBy" style="display: grid; overflow:scroll; max-height:300px; overflow-x:hidden; margin-top:21px; padding-right:15px;"></div>
<div class="StoreId_Data"></div>
<div class="attr_data"></div>

<script type="text/javascript" src="{{ 'custom-pickup.js' | asset_url }}" defer="defer"></script>

<script>
        // Get a reference to the input field
      const searchInput = document.getElementById("locationSearch");

      // Add an event listener to the input field
      searchInput.addEventListener("input", function () {
        const searchText = searchInput.value.trim().toLowerCase();
        searchLocations(searchText);
      });

      function searchLocations(query) {
        // Get all the location labels
        const locationLabels = document.querySelectorAll(".filterData");

        // Loop through each location label
        locationLabels.forEach((label) => {
          const locationName = label
            .querySelector(".locationName")
            .textContent.toLowerCase();

          // Check if the locationName contains the search query
          if (locationName.includes(query)) {
            // Show the matching location
            label.style.display = "flex";
          } else {
            // Hide the non-matching location
            label.style.display = "none";
          }
        });
      }
</script>
