{%- liquid
    assign required = settings.gwp_minimum | divided_by: 100
    assign percentage = cart.items_subtotal_price | divided_by: required | at_least: 0 | at_most: 100 
-%}

<div class="gwp-bar">
  {%- if cart.items_subtotal_price >= settings.gwp_minimum -%}
    <p class="gwp_bar__message no-margin text-center">{{ settings.gwp_success }}</p>
  {%- else -%}
    {%- assign needed_amount = settings.gwp_minimum | minus: cart.items_subtotal_price | money -%}
    <p class="gwp_bar__message no-margin text-center">{{ 'cart.gwp.progress_bar_html' | t: gwp_type:settings.gwp_type, needed_amount: needed_amount }}</p>
  {% endif %}
  <div class="gwp-progBar">
    <span class="stripes {% unless percentage == 100 %}animated{% endunless %}" style="width:{{ percentage }}%"></span>
    <div class="percentage">{{ percentage }}%</div>
  </div>
</div>