    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
  @media only screen and (min-width: 200px) {
    .modal-body{
      padding:50px 0;
    }
    .select-address{
      font-size: 16px;
       width: 80%;
    margin: 7px 11%;
    padding: 12px;
    border: 2px solid gray;
    border-radius: 5px;
  color:#000;
    } 

         .msgPanel{
    color:red;
    margin-left: 35%;
  }
}

@media only screen and (min-width: 992px) {
    .modal-body{
      padding:50px 0;
    }
    .select-address{
      font-size: 16px;
     width: 80%;
    margin: 7px 11%;
    padding: 12px;
    border: 2px solid gray;
    border-radius: 5px;
color:#000;
    }

       .msgPanel{
    color:red;
    margin-left: 40%;
  }
}

  .title-address{
    text-align: center;
    font-weight: 800;
    font-size: 40px;
  }

  

</style>
<!-- The Modal -->
<div id="myModal" class="modal" style="z-index:100;">

  <!-- Modal content -->
  <div class="modal-content">

  <div class="modal-body" id="replace_img">
    <h2 class="title-address" style="margin-bottom:12px; color:#000;">Enter Your Location</h2>
    <div class="msgPanel" id="msgError"></div>
      <select class="select-address" id="province">
        <option>Province</option>
      </select>
        <select class="select-address" id="city">
        <option>City</option>
      </select>
        <select class="select-address" id="barangay">
        <option>Barangay</option>
           </select>
    <input type="text" class="select-address" placeholder="Zip Code" id="zip" disabled>
     <input type="text" class="select-address" placeholder="House or Unit Number / Street Name / Landmark" id="street_address">
   <button id="gatherAddressbtn" style="color: white; background-color: #000; padding: 9px; width: 26%; margin: 1% 0% 0% 38%; font-size: 16px;">Verify Location</button>
     <div class="close">Cancel</div>
  </div>
  </div>

</div>

{% render 'icon-check-animation' %}
<script>
         $("#zip").val("");
  const GetProvince = document.querySelector("#province"),GetCity = document.querySelector("#city"),GetBarangay = document.querySelector("#barangay"), gatherAddressbtn=document.querySelector("#gatherAddressbtn");
   var arr = JSON.parse(localStorage.getItem("arrProvince"));
    if (arr != null) {
   
      province = [];
      var data = JSON.parse(localStorage.arrProvince);
      for (let i = 0; i < data.province.length; i++) {
        const arrP = `${
          data.province[i]
        }`;
        province.push(arrP);
      }
      $("#province").html(province.join(""));
    } else {

      url = "https://tools.gabcgfs.com/address_finder_dev.php";
      province = [];
      province.push('<option value="" Selected>Province</option>');
      jQuery.ajax({url: url, type: "GET", dataType: "jsonp", contentType: "application/json; charset=UTF-8"}).done(function(json) {
        for (let i = 0; i < json.length; i++) {
          const arrP = `<option value="${
            json[i].PROVINCE
          }">${
            json[i].PROVINCE
          }</option>`;
          province.push(arrP);
        }
  
        $("#province").html(province.join(""));
        localStorage.setItem("arrProvince", JSON.stringify({province}));
      });

    }

    GetProvince.addEventListener("change",function getProvince() {
      $("#zip").val("");
      $("#barangay").html('<option value="" Selected>Barangay</option>');
      let province = $("#province").val();
      url = `https://tools.gabcgfs.com/address_finder_dev.php?PROVINCE=${province}`;
      City = [];
      City.push('<option value="" Selected>City</option>');
      jQuery.ajax({url: url, type: "GET", dataType: "jsonp", contentType: "application/json; charset=UTF-8"}).done(function(json) {
        if (json != "") {
          for (let i = 0; i < json[0].CITY.length; i++) {
            const arrC = `<option value="${
              json[0].CITY[i].CITY
            }">${
              json[0].CITY[i].CITY
            }</option>`;
            City.push(arrC);
          }
        } else {
          City.push();
        }
  
        $("#city").html(City.join(""));
      });
    });

    ZipBarangay = [];
   GetCity.addEventListener("change", function getCity() {
      $("#zip").val("");
      let city = $("#city").val();
      url = `https://tools.gabcgfs.com/address_finder_dev.php?CITY=${city}`;
      Brgy = [];
      Brgy.push('<option value="" Selected>Barangay</option>');
      jQuery.ajax({url: url, type: "GET", dataType: "jsonp", contentType: "application/json; charset=UTF-8"}).done(function(json) {
        for (let i = 0; i < json[0].CITY[0].BARANGAY.length; i++) {
          const arrC = `<option value="${
            json[0].CITY[0].BARANGAY[i].BARANGAY
          }">${
            json[0].CITY[0].BARANGAY[i].BARANGAY
          }</option>`;
          const arrZ = [
            json[0].CITY[0].BARANGAY[i].BARANGAY,
            json[0].CITY[0].BARANGAY[i].ZIP,
            json[0].CITY[0].BARANGAY[i].latitude,
            json[0].CITY[0].BARANGAY[i].longitude
          ];
          Brgy.push(arrC);
          ZipBarangay.push(arrZ);
        }
        $("#barangay").html(Brgy.join(""));
      });
    });

   GetBarangay.addEventListener("change",function getBarangay() {
    let barangay = $("#barangay").val();
    // Function to find the value for a given location
    function findValueForLocation(locationName) {
      for (let i = 0; i < ZipBarangay.length; i++) {
        if (ZipBarangay[i][0] === locationName) {
          return ZipBarangay[i][1];
        }
      }
      return null; // Return null if location is not found
    }

    const value = findValueForLocation(barangay);
    $("#zip").val(value);
  });


  

  gatherAddressbtn.addEventListener("click", function gatherAddress(){
    if($('#province').val() == '' || $('#city').val() == '' || $('#barangay').val() == '' || $('#street_address').val() == ''){
      $('#msgError').html('Please complete the field.');
    }else{
        customer_address= `{"province":"${$('#province').val()}","city":"${$('#city').val()}","barangay":"${$('#barangay').val()}","zip":"${$('#zip').val()}","street_address":"${$('#street_address').val()}"}`;
         localStorage.setItem('customer_address',customer_address);

      
      const getcheck= `
      <input type="checkbox" style="display:none;" class="checkFunction" id="check">
      <label id="animation" for="check">
         <div class="check-icon"></div>
      </label>`;
      $('#replace_img').html(getcheck);
      
      setTimeout(()=>{ 
        document.querySelector(".checkFunction").click();
        
     if(document.getElementById('check').value == 'on'){
        setTimeout(()=>{window.location.reload()},1000);
      }
    },2000);
    }
   
  });
</script>