{%- liquid
	assign total = 0
    assign actual = 0
	assign infinity = false
 	for variant in product.variants
   		if variant.inventory_management == blank
     		assign infinity = true
   		else
     		assign total = total | plus: variant.inventory_quantity
   		endif
 	endfor
    
    if inventory_count == blank or inventory_count == 0
        assign actual = total | at_most: 100 | at_least: 1
    else
        assign actual = inventory_count | minus: total | times: 100 | divided_by: inventory_count | at_most: 100 | at_least: 1
    endif 
    if progress_bar_text == blank
    	assign progress_bar_text = progress_text
    endif
    
    if actual == 0
    	assign actual = inventory_count | minus:total | times: 100 | divided_by: inventory_count | at_most: 100 | at_least: 1
    endif
-%}

<div class="container--{{ product.id }} progress-bar-container">
  <div class="progress">
    <p class="progress-bar-text">{{ actual }}{{ progress_bar_text }}</p>
    <div class="progress-bar" style="width:{{ actual | at_most: 100 | at_least: 0 }}%"></div>
  </div>
</div>