<script>

    // This section is for Province
    $('.field__input-wrapper')[4].innerHTML = ` <label class="field__label field__label--visible" for="checkout_shipping_address_city">Province</label>
    <select class=" field__input field__input -- select "
    placeholder="Province" autocomplete="shipping address-level2" autocorrect="off" data-backup="city" aria-required="true" type="text" name="checkout[shipping_address][city]" id="checkout_shipping_address_city" >
    </select>
    `;

    //this section is for city
    $('.field__input-wrapper')[5].innerHTML = ` <label class="field__label field__label--visible" for="checkout_shipping_address_address2">Town or City</label>
    <select class=" field__input field__input -- select "
    placeholder="Town or City" autocomplete="shipping address-line2"  autocorrect="off" data-backup="address2" aria-required="true" type="text" name="checkout[shipping_address][address2]" id="checkout_shipping_address_address2" >
    <option value="">Town or City</option>
    </select>
    `;
    
     //this section is for barangay
     $('.field__input-wrapper')[6].innerHTML = ` 
     <label class="field__label field__label--visible" for="checkout_shipping_address_address1">Barangay</label>
     <select class=" field__input field__input -- select "
     placeholder="Barangay" autocomplete="shipping address-line1"  autocorrect="off" data-backup="address1" aria-required="true" type="text" name="checkout[shipping_address][address1]" id="checkout_shipping_address_address1" >
     <option value="">Barangay</option>
     </select>

      <p class="field__additional-info visually-hidden" data-address-civic-number-warning="">
      <svg class="icon-svg icon-svg--size-16 field__message__icon" aria-hidden="true" focusable="false"> <use xlink:href="#info"></use> </svg>
      Add a house number if you have one
      </p>
      `;

       // this section is for Street address
       $('.field__input-wrapper')[7].innerHTML = `
     
      <label class="field__label field__label--visible" for="checkout_shipping_address_company">House or Unit Number / Street Name</label>
      <input placeholder="House or Unit Number / Street Name" autocomplete="shipping organization" autocorrect="off" data-backup="company" class="field__input" aria-required="true" type="text"  name="checkout[shipping_address][company]" id="checkout_shipping_address_company">
      
      `;

       // this section is for Zip code
       $('.field__input-wrapper')[8].innerHTML = `
       <label class="field__label field__label--visible" for="checkout_shipping_address_zip">Postal code</label>
       <input placeholder="Postal code" autocomplete="shipping postal-code" autocorrect="off" data-backup="zip" class="field__input field__input--zip" aria-required="true" type="text" name="checkout[shipping_address][zip]" id="checkout_shipping_address_zip" readonly>
      `;

        // remove display in Region
       $('.field__input-wrapper')[9].style.display='none';
  
   var arr_shipping_address = JSON.parse(localStorage.getItem("arrProvince"));
    if (arr_shipping_address != null) {
   
      province = [];
      var data = JSON.parse(localStorage.arrProvince);
      for (let i = 0; i < data.province.length; i++) {
        const arrP = `${
          data.province[i]
        }`;
        province.push(arrP);
      }
      $("#checkout_shipping_address_city").html(province.sort().join(""));
    } else {

      url = "https://tools.gabcgfs.com/address_finder_dev.php";
      province = [];
      province.push('<option value="" Selected>Province</option>');
      jQuery.ajax({url: url, type: "GET", dataType: "jsonp", contentType: "application/json; charset=UTF-8"}).done(function(json) {
        for (let i = 0; i < json.length; i++) {
          const arrP = `<option value="${
            json[i].PROVINCE
          }">${
            json[i].PROVINCE
          }</option>`;
          province.push(arrP);
        }
          province.sort();
        $("#checkout_shipping_address_city").html(province.join(""));
        localStorage.setItem("arrProvince", JSON.stringify({province}));
      });

    }

 document.querySelector('#checkout_shipping_address_city').addEventListener("change",() => {
       const AutoRegionData=`["${$('#checkout_shipping_address_city').val()}"]`;
   selectOptionByDataAttributeValue('data-alternate-values', AutoRegionData);


   
    let province = $("#checkout_shipping_address_city").val();
    url = `https://tools.gabcgfs.com/address_finder_dev.php?PROVINCE=${province}`;
    City = [];
    City.push('<option value="">Town or City</option>');
    jQuery
      .ajax({
        url: url,
        type: "GET",
        dataType: "jsonp",
        contentType: "application/json; charset=UTF-8",
      })
      .done(function (json) {
        if (json != "") {
          for (let i = 0; i < json[0].CITY.length; i++) {
            const arrC = `<option value="${json[0].CITY[i].CITY}">${json[0].CITY[i].CITY}</option>`;
            City.push(arrC);
          }
        } else {
          City.push();
        }
        City.sort();
        $("#checkout_shipping_address_address2").html(City.join(""));
      });
  });   

 document.querySelector('#checkout_shipping_address_address2').addEventListener("change",()=> {
    let city = $("#checkout_shipping_address_address2").val();
    url = `https://tools.gabcgfs.com/address_finder_dev.php?CITY=${city}`;
    Brgy = [];

    Brgy.push('<option value="" Selected>Barangay</option>');
    jQuery
      .ajax({
        url: url,
        type: "GET",
        dataType: "jsonp",
        contentType: "application/json; charset=UTF-8",
      })
      .done(function (json) {
        for (let i = 0; i < json[0].CITY[0].BARANGAY.length; i++) {
          const arrC = `<option value="${json[0].CITY[0].BARANGAY[i].BARANGAY}">${json[0].CITY[0].BARANGAY[i].BARANGAY}</option>`;
          const arrZ = [
            json[0].CITY[0].BARANGAY[i].BARANGAY,
            json[0].CITY[0].BARANGAY[i].ZIP,
          ];
          Brgy.push(arrC);
          ZipBarangay.push(arrZ);
        }
          Brgy.sort();
        $("#checkout_shipping_address_address1").html(Brgy.join(""));
      });
  }); 

    document.querySelector('#checkout_shipping_address_address1').addEventListener("change",() => {
    let barangay = $("#checkout_shipping_address_address1").val();
    // Function to find the value for a given location
    function findValueForLocation(locationName) {
      for (let i = 0; i < ZipBarangay.length; i++) {
        if (ZipBarangay[i][0] === locationName) {
          return ZipBarangay[i][1];
        }
      }
      return null; // Return null if location is not found
    }
    const zipCode = findValueForLocation(barangay);
    $("#checkout_shipping_address_zip").val(zipCode);

       customer_address= `{"province":"${$('#checkout_shipping_address_city').val()}","city":"${$('#checkout_shipping_address_address2').val()}","barangay":"${$('#checkout_shipping_address_address1').val()}","zip":"${zipCode}","street_address":"${$('#checkout_shipping_address_company').val()}"}`;
         localStorage.setItem('customer_address',customer_address);
  });


  // For get the customer address data

    function AutoGetCity() {
    let province = $("#checkout_shipping_address_city").val();
    url = `https://tools.gabcgfs.com/address_finder_dev.php?PROVINCE=${province}`;
    City = [];
    City.push('<option value="">Town or City</option>');
    jQuery.ajax({url: url, type: "GET", dataType: "jsonp", contentType: "application/json; charset=UTF-8", }).done(function (json) {
        if (json != "") {
          for (let i = 0; i < json[0].CITY.length; i++) {
            const arrC = `<option value="${json[0].CITY[i].CITY}">${json[0].CITY[i].CITY}</option>`;
            City.push(arrC);
          }
        } else {
          City.push();
        }
          $("#checkout_shipping_address_address2").html(City.join(""));
      });
  }

    function AutoGetBarangay() {
      let city = $("#checkout_shipping_address_address2").val();
      url = `https://tools.gabcgfs.com/address_finder_dev.php?CITY=${city}`;
      Brgy = [];
      Brgy.push('<option value="" Selected>Barangay</option>');
      jQuery.ajax({url: url, type: "GET", dataType: "jsonp", contentType: "application/json; charset=UTF-8"}).done(function(json) {
        for (let i = 0; i < json[0].CITY[0].BARANGAY.length; i++) {
          const arrC = `<option value="${
            json[0].CITY[0].BARANGAY[i].BARANGAY
          }">${
            json[0].CITY[0].BARANGAY[i].BARANGAY
          }</option>`;
          Brgy.push(arrC);
        }
        $("#checkout_shipping_address_address1").html(Brgy.join(""));
      });
    }


//         function selectOptionByDataAttributeValue(dataAttribute, valueToSelect) {
//   var selectElement = document.querySelector('#checkout_shipping_address_province'); // Change this ID to match your select element ID
  
//   for (var i = 0; i < selectElement.options.length; i++) {
//     var option = selectElement.options[i];
//     var dataValue = option.getAttribute(dataAttribute);
    
//     if (dataValue === valueToSelect) {
//       option.selected = true;
//       break; // Exit the loop once the option is found and selected
//     }
//   }
// }

  
//         // Get a customer address if there is a existing data
//         const addressGathering = JSON.parse(localStorage.getItem('customer_address'));
//       if(addressGathering != null){
//         $('#checkout_shipping_address_city').val(addressGathering.province);
//           AutoGetCity();
//        const AutoGetRegionData=`["${$('#checkout_shipping_address_city').val()}"]`;
//        selectOptionByDataAttributeValue('data-alternate-values', AutoGetRegionData);
//         // delay a output
//       setTimeout(()=>{
//         document.querySelector('#checkout_shipping_address_address2').value=addressGathering.city;
//         AutoGetBarangay();
//          setTimeout(()=>{
//         document.querySelector('#checkout_shipping_address_address1').value=addressGathering.barangay;
//       },1000);
//       },800);

//          $('#checkout_shipping_address_company').val(addressGathering.street_address);
//          $('#checkout_shipping_address_zip').val(addressGathering.zip);
//       }
</script>