<a class="btn btn--full" href="{{ block.settings.waitlist_link }}">{{ 'products.product.waitlist_heading' | t }}</a>
{% comment %}
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  #mce-EMAIL { border-radius: 0 !important; border-color: #e8e8e1 !important; height: 45px !important; }
  #mc_embed_signup_scroll { display: flex !important; }
  #mc-embedded-subscribe { border-radius: 0 !important;background-color: #000 !important; height: 45px !important;}
  #mc_embed_signup .button { font-size: 14px !important; color: #FFF; transition: all 0.3s ease;}
  #mc_embed_signup input.email { padding: 0 1em !important; width: 100%; }
  #mc_embed_signup .button { text-transform: capitalize; }
  
  #NotifyMePopup .notidy__close .icon {
    width: 15px;
    height: 15px;
  }
  
  #NotifyMePopup .notify__close .icon path {
  	stroke-width: 1px; 
  }
  
  #mc_embed_signup .button:hover {
   	background-color: transparent !important;
    color: #000;
  }
  
  .notify__close {
   	position: absolute;
    top: 10px;
    right: 15px; 
  }
  
  .notify__close svg.icon {
   	width: 18px;
    height: 18px;
  }
</style>

<div id="mc_embed_signup">
  <form action="https://goldenabc.us17.list-manage.com/subscribe/post?u=2f1db7d68dd157a8c202ccfe2&amp;id=6d52376b56" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required>
      <ul style="display:none;"><li><input type="radio" value="Teaser" name="TAG" id="mce-TAG-0" checked="checked"><label for="mce-TAG-0">Teaser</label></li></ul>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2f1db7d68dd157a8c202ccfe2_6d52376b56" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="{{ 'products.product.waitlist' | t }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
  </form>
</div>

{%- unless template == 'product' -%}
<button type="button" class="notify__close js-modal-close text-link" onclick="closeFunction();">
  {% render 'icon-close' %}
  <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
</button>
{%- endunless -%}
<script>
window.addEventListener('DOMContentLoaded', () => {
	new theme.Modals('NotifyMePopup', 'waitlist-btn');
});
  
function notifyPop() {
  var element = document.getElementById("NotifyMePopup"), bdy = document.querySelector("body");
  element.classList.add("modal--is-active");
  bdy.classList.add("modal-open");
}

function closeFunction() {
  var element = document.getElementById("NotifyMePopup"), bdy = document.querySelector("body");
  element.classList.remove("modal--is-active");
  bdy.classList.remove("modal-open");
}
</script>
{% endcomment %}