{% raw %}
<script id="recently-viewed-product-template"  type="text/x-jquery-tmpl">
  <div
  class="grid__item grid-product small--one-half medium-up--one-third grid-product__has-quick-shop aos-init aos-animate"
  data-aos="row-of-3"
  data-product-handle="${handle}"
  data-product-id="${id}"
  id="product-${handle}"
>
  <div class="grid-product__content">
    <a href="${url}" class="grid-product__link">
      <div class="grid-product__image-mask">
        <div class="">
          <img
            class="grid__image-contain"
            data-widths="[180, 284, 360, 540, 720, 900, 1080]"
            data-aspectratio="0.6665"
            data-sizes="auto"
            alt=""
            src="${Shopify.Products.resizeImage(featured_image, "large")}"
            sizes="127px"
          />
        </div>
      </div>

      <div class="grid-product__meta">
        <div class="grid-product__title">${title}</div>
        <div class="grid-product__price">
          ${Shopify.formatMoney(price)}
        </div>
      </div>
    </a>
  </div>
</div>
</script>
<script id="recently-viewed-pager-summary-template"  type="text/x-jquery-tmpl">
  <div class="pagination__summary">${subtotal} of ${total} products</div>
</script>
<script id="recently-viewed-pager-page"  type="text/x-jquery-tmpl">
  <span class="page">
    <a href="/account?page=${page}&amp;view=products">${page}</a>
  </span>
</script>
<script id="recently-viewed-pager-next"  type="text/x-jquery-tmpl">
  <span class="next">
    <a href="/account?page=${next}&amp;view=products" title="Next">
      <svg
        aria-hidden="true"
        focusable="false"
        role="presentation"
        class="icon icon-chevron-right"
        viewBox="0 0 284.49 498.98"
      >
        <path
          d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"
        ></path>
      </svg>
      <span class="icon__fallback-text">Next</span>
    </a>
  </span>
</script>
<script id="recently-viewed-pager-prev"  type="text/x-jquery-tmpl">
  <span class="prev">
    <a href="/account?page=${prev}&amp;view=products" title="Previous">
      <svg
        aria-hidden="true"
        focusable="false"
        role="presentation"
        class="icon icon-chevron-left"
        viewBox="0 0 284.49 498.98"
      >
        <path
          d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"
        ></path>
      </svg>
      <span class="icon__fallback-text">Previous</span>
    </a>
  </span>
</script>
<script id="recently-viewed-pager-current"  type="text/x-jquery-tmpl">
  <span class="page current">1</span>
</script>
{% endraw %}
<div class="page-width page-content customers">
  <div class="grid">
    <div class="grid__item medium-up--one-quarter">
      {%- render 
        'account-dashboard',
        activeMenu: 4
      -%}
    </div>
    <div class="grid__item medium-up--three-quarters">
      <header class="section-header">
        <h1 class="section-header__title">{{ 'customer.account.recently_view' | t }}</h1>
        {% comment %}<div class="section-header__sub-title">Lorem ipsum dolor sit amet, adipiscing rhoncus litora ut dui morbi, mattis nascetur amet, ut justo primis, fusce purus tellus hac risus. Vehicula nullam, non suscipit sit vivamus, quam vel nostra,.</div>{% endcomment %}
      </header>
      <div class="grid grid--uniform" id="recently-viewed-products" style="display:none" >
      </div>
      <div class="pagination-wrapper" id="recently-viewed-pager" style="display:none">
        <div class="pagination">
          
        </div>
      </div>
      
    </div>
  </div>

</div>
{{ '//code.jquery.com/jquery-3.3.1.js' | script_tag }}
{{ 'jquery.tmpl.min.js' | asset_url | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}
<script>
  Shopify.Products.showRecentlyViewed( { howManyToShow:40 , howManyToStoreInMemory: 40} );
</script>
  