<div class="footer-sticky-container rte">
  	 {{ section.settings.cookie_text }}
     {%- render 'icon-close' -%}
</div>

{%- style -%}
.footer-sticky-container.is-active {
	max-height: 85%;
	visibility: visible;
	padding: 15px 20px;
}
  
.footer-sticky-container {
	visibility: hidden;
 	bottom: 20px;
    left: 20px;
    position: fixed;
    padding: 0;
    width: 400px;
    text-align: left;
    max-height: 0%;
    max-width: calc(100% - 40px);
    transition: height 200ms 600ms;
    border-radius: 10px;
    background: #FFF;
    color: #000;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	z-index: 9999999999;
}
  
.footer-sticky-container p {
 	margin-bottom: 0;
  	margin: 15px;
}

.footer-sticky-container a {
	font-family: var(--typeHeaderPrimary),var(--typeHeaderFallback);
}
  
.footer-sticky-container .icon-close {
 	position: absolute;
    top: 12px;
    right: 12px;
	cursor: pointer;
}

@media only screen and (max-width:589px) {	  
  .footer-sticky-container p {
      font-size: 80%;
  }

  .footer-sticky-container.is-active {
	  padding: 5px;
  }
}
{%- endstyle -%}

<script>
document.addEventListener("DOMContentLoaded", function() {
	var policy_container = document.querySelector('.footer-sticky-container'), cookie_pop = Cookies.get('cookie-pop');
  	document.querySelector('.footer-sticky-container .icon-close').addEventListener('click', addCookie);
  
    if (cookie_pop == 'opened') {
    	policy_container.classList.remove('is-active');
    } else {
      	policy_container.classList.add('is-active');
    }

	function addCookie() {
      Cookies.set('cookie-pop', "opened", { path: "/", expires: 30 });
      policy_container.classList.remove('is-active');
    }
});
</script>

{% schema %}
  {
    "name": "Cookie Bar",
    "settings": [
	 {
        "type": "richtext",
        "id": "cookie_text",
        "label": "Text"
      },
	  {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#000"
      },
	  {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#FFF"
      }
    ]
}
{% endschema %}