  /* css on filter input Text */
  .searchInputText{
    border-bottom: 3px solid lightgray;
    width: -webkit-fill-available;
    padding: 16px;
    font-size: 16px;
    font-weight: 500;
  }

  .loader {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    text-align: center;
    position: relative;
    padding: 0 48px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  .loader:before,
  .loader:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: currentColor;
    position: absolute;
    animation: load 0.7s infinite alternate ease-in-out;
    top: 0;
  }
  .loader:after {
    top: auto;
    bottom: 0;
  }
  @keyframes load {
    0% {
      left: 0;
      height: 43px;
      width: 15px;
      transform: translateX(0);
    }
    50% {
      height: 10px;
      width: 40px;
    }
    100% {
      left: 100%;
      height: 43px;
      width: 15px;
      transform: translateX(-100%);
    }
  }

  .form-control {
    width: 100%;
    border: 1px solid;
    padding: 12px;
    margin: 2px 0;
  }
  /* Add Style in Scrollbar */
  .nearBy::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .nearBy::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  .nearBy::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  .nearBy::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .icon-search{
    position:absolute;
    right:0;
    font-size:27px;
    margin-right:17px;
  }

